body
{
	background-color: #fff;
	color: #000;
	font-family: 'Lato', sans-serif;
}

.container
{
	width: 1200px;
	margin:0 auto;
}
.rectangle
{
	width:1200px;
	height: 80px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}

.logo
{
	width: 550px;
	font-size: 60px;
	float:left;
}

.contact{
	width: 175px;
	font-size: 20px;
	float:left;
	margin-top: 20px;
	padding-right:150px;
}

.portfolio{
    width: 175px;
	float:left;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 150px;
	
}

.footer
{
	
	width: 1200px;
	height: 20px;
	text-align: center;
	opacity: 0.25;
}


.Collage{
/*This is where you set the padding you want between the images*/
padding: 10px;   

}
.Collage img{
    
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
   /* border:0px solid #FFF;*/
}


.Image_Wrapper{
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*RESPONSYWNOŚĆ*/


/*
@media (min-width: 1100px) {
	.container {width:1200px;}
}
@media (max-width: 1100px) and (min-width: 1000px) {
	.container {width:1100px;}
}
@media (max-width: 1000px) and (min-width: 800px) {
	.container {width:900px;}
}
@media (max-width: 800px) and (min-width: 500px) {
	.container {width:600px;}
}
@media (max-width: 500px) {
	.container {width:100%;}
}
*/

@media screen and (max-width: 1100px){
	.container {width:1200px;}
	/*.logo { height: 100px;}
	

